

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.btn-primary{
    color: white;
    background-color: #4E47FF;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;
    padding: 12px 24px;
    transition: background 0.3s ease;
    
}
.launch-button:hover {
  background-color: #4E47FF ;
}
.second-btn{
    margin-bottom: 150px;

}
.section-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.section-description{
    font-size: 24px;
    color: #252432;
}
/* header styles */
.header{
    background-image: url(../Assets/Hero-bg.png);
}
/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    color: #4E47FF;
    font-size: 34px;
    font-weight: bold;
}
.banner{
    color: #252432;
    font-size: 65px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    margin: 309px 265px 237px 265px;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 110px 150px;
    gap: 40px;
    
   
    
}
.text-content {
  max-width: 400px;
  justify-content: left;
  max-width: 100%;
   
}
.text-content h3 {
  margin-bottom: 10px;
}
.text-content p {
  font-size: 16px;
  color: #6b7280;
  line-height: 1.6;
  margin-bottom: 20px;
}
.preview-image img {
  max-width: 400px;
  width: 100%;
  border-radius: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
/* stat section */
.stats-container {
  background-color: #eaeaff;
  border-radius: 16px;
  padding: 40px 60px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 160px;
}
.stats-container h2 {
  color: #252432;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
}
.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}
.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-value {
  font-size: 80px;
  font-weight: bold;
  color: #5c5cff;
  margin-bottom: 6px;
}

.stat-label {
  font-size: 14px;
  color: #666;
}
/* main */
main{
    max-width: 1140px;
    margin: 0 auto;
}